In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('online_retail_transactions.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,INV1000,P005,Smartwatch,8,2023-05-05,410.43,10869,India
1,INV1001,P010,USB Flash Drive,1,2023-08-20,650.66,10733,Germany
2,INV1002,P003,Tablet,8,2023-12-09,191.14,10081,Canada
3,INV1003,P003,Tablet,9,2023-01-04,70.69,10498,South Africa
4,INV1004,P008,Mouse,7,2023-11-06,520.08,10267,South Africa

In [8]:
# Check for missing values per column
missing_values = df.isnull().sum()
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,INV1000,P005,Smartwatch,8,2023-05-05,410.43,10869,India
1,INV1001,P010,USB Flash Drive,1,2023-08-20,650.66,10733,Germany
2,INV1002,P003,Tablet,8,2023-12-09,191.14,10081,Canada
3,INV1003,P003,Tablet,9,2023-01-04,70.69,10498,South Africa
4,INV1004,P008,Mouse,7,2023-11-06,520.08,10267,South Africa
...,...,...,...,...,...,...,...,...
995,INV1995,P005,Smartwatch,9,2023-09-19,600.74,10331,UK
996,INV1996,P004,Headphones,4,2023-05-28,128.53,10839,Canada
997,INV1997,P002,Smartphone,5,2023-12-13,205.54,10589,France
998,INV1998,P008,Mouse,3,2023-11-26,527.83,10371,India
999,INV1999,P006,Monitor,7,2023-08-10,312.28,10104,India

In [9]:
# Identify and remove duplicate rows
df_cleaned = df.drop_duplicates()

In [10]:
# Convert the InvoiceDate column to a proper datetime format
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'])

In [11]:
df_cleaned

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,INV1000,P005,Smartwatch,8,2023-05-05,410.43,10869,India
1,INV1001,P010,USB Flash Drive,1,2023-08-20,650.66,10733,Germany
2,INV1002,P003,Tablet,8,2023-12-09,191.14,10081,Canada
3,INV1003,P003,Tablet,9,2023-01-04,70.69,10498,South Africa
4,INV1004,P008,Mouse,7,2023-11-06,520.08,10267,South Africa
...,...,...,...,...,...,...,...,...
995,INV1995,P005,Smartwatch,9,2023-09-19,600.74,10331,UK
996,INV1996,P004,Headphones,4,2023-05-28,128.53,10839,Canada
997,INV1997,P002,Smartphone,5,2023-12-13,205.54,10589,France
998,INV1998,P008,Mouse,3,2023-11-26,527.83,10371,India
999,INV1999,P006,Monitor,7,2023-08-10,312.28,10104,India

In [12]:
# Data Transformation & Exploration
# Create a new column called TotalPrice calculated as Quantity * UnitPrice
df_cleaned['TotalPrice'] = df_cleaned['Quantity'] * df_cleaned['UnitPrice']

In [13]:
# Determine the number of unique products
unique_products = df_cleaned['StockCode'].nunique()
print("\nNumber of unique products:", unique_products)

Number of unique products: 10